body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}/* Notification */
.notification{
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: max-content;
  padding: 20px 15px;
  border-radius: 4px;
  
  
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(30px);
  animation: fade-in 4s linear forwards;
}
.notification_progress{
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: calc(100% - 10px);
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  background-color:  rgb(14, 116, 54);
  border-radius: inherit;
  animation: load 3s 0.25s linear forwards;
}
@keyframes fade-in{
  5%{
    opacity: 1;
    transform: translateY(0);
  }
  90%{
    opacity: 1;
    transform: translateY(0);

  }
}
@keyframes  load {
  to{
    transform: scaleX(1);
  }
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;